<div class="wrapper">
    <button class="dots" (click)="toggleColumnsMenu()">
        <span class="dots-dots">•••</span>
    </button>

    <div class="columns-list" *ngIf="showColumnsMenu">
        <div *ngFor="let header of actionHeaders" class="column-item" (click)="onEvent(header.actionName)">
            <div class="header-info">
                <span class="column-title">{{ header.title }}</span>
            </div>
        </div>
    </div>
</div>

<!-- <img class="img" src="assets/person-raised-hand.svg" alt="" (click)="onEvent('raise_hand')">
<img class="img" src="assets/question-circle-fill.svg" alt="" (click)="onEvent('question')"> -->