@import "./assets/fonts/fonts.scss";

:root {
    --main-bg-color: #f7f7f7;
    --main-border-color: #c6c6c6;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;

    &:hover {
        background: #555;
    }
}


html,
body {
    font-size: 14px;
    font-family: "Vazirmatn";
}